@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap);
#home-template-6031e9 .section-title {
  flex: 100%;
  max-width: 100%; }
  #home-template-6031e9 .section-title h2 {
    font-size: 25px;
    font-weight: normal; }

#home-template-6031e9 .project {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }
  #home-template-6031e9 .project .data {
    padding-top: 56.5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block; }
    #home-template-6031e9 .project .data:hover .overlay {
      opacity: 0.7; }
    #home-template-6031e9 .project .data:hover .title::after {
      width: 100%;
      opacity: 1; }
    #home-template-6031e9 .project .data .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--black);
      opacity: 0.3;
      transition: .5s; }
    #home-template-6031e9 .project .data .title {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 20px;
      color: var(--white);
      font-weight: 100; }
      #home-template-6031e9 .project .data .title::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0%;
        background-color: var(--white);
        height: 1px;
        opacity: 0;
        transition: .5s; }

:root {
  --SB: 'Styrene B';
  --PDU: 'PDU';
  --font: 'Roboto';
  --gray: #292929;
  --ligth-gray: rgba(41, 41, 41, 0.5);
  --black: #151515;
  --white: #FFFFFF; }

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  margin: 0; }

body {
  margin: 0;
  background-color: var(--white); }

*, ::after, ::before {
  box-sizing: border-box; }

a {
  text-decoration: none; }

button {
  border: none;
  cursor: pointer; }
  button:focus {
    outline: none; }

img {
  max-width: 100%; }

*:not(tspan) {
  font-family: var(--font);
  font-size: 16px;
  color: var(--gray); }

.container {
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 114px); }

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative; }

.space-between {
  justify-content: space-between; }

#footer-wrapper {
  background-color: var(--black); }
  #footer-wrapper p {
    color: var(--white); }

