#header-wrapper {
    background-color: var(--black);

    .logo {
        a {
            color: var(--white);
        }
    }

    .navbar {
        height: 70px;
    }

    .main-menu {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                a {
                    margin-left: 15px;
                    color: var(--white);
                }
            }
        }
    }
}