#home-template-6031e9 {
    margin-top: 70px;

    .home-description {
        flex: 0 0 60%;
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;

        @media screen and (max-width: 600px) {
            flex: 0 0 100%; 
        }
    }

    .section-title {
        flex: 100%;
        max-width: 100%; 

        h2 {
            font-size: 25px;
            font-weight: normal;
        }
    }

    .section-description {
        flex: 0 0 100%;
        max-width: 100%;         
        margin-bottom: 50px;
        line-height: 30px;

        .description-text {
            max-width: 50%;
            font-size: 24px;

            @media screen and (max-width: 768px) {
                max-width: 100%; 
            }

            @media screen and (max-width: 600px) {
                max-width: 100%; 
            }
        }
    }

    .project {
        flex: 0 0 33.33333%;
        max-width: 33.33333%; 

        @media screen and (max-width: 1024px) {
            flex: 0 0 50%;
            max-width: 50%; 
        }

        @media screen and (max-width: 600px) {
            flex: 0 0 100%;
            max-width: 100%; 
        }

        .data {         
            padding-top: 56.5%;  
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
            position: relative;
            display: block;

            &:hover {
                .overlay {
                    opacity: 0.7;
                }

                .title {
                    &::after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: var(--black);
                opacity: 0.3;
                transition: .5s;
                
            }

            .title {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 20px;
                color: var(--white);
                font-weight: 300;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    width: 0%;
                    background-color: var(--white);
                    height: 1px;
                    opacity: 0;
                    transition: .5s;
                }
            }

        }
    }
}